@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.background-redgradient {
  background: linear-gradient(-135deg, #C04848, #480048);
}

.background-bluegradient {
  background: linear-gradient(-135deg, #000428, #004e92);
}

.clock {
  color: white;
  font-size: 20vw;
  font-family: 'Share Tech Mono', monospace;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  filter: drop-shadow(0 0 5px white);
  transition: .3s;
}

.mt-6vh {
  margin-top: 6vh;
}
