.input-range[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 6px;
}
.input-range[type=range]:focus, .input-range[type=range]:active {
  outline: none;
}
.input-range[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.input-range[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 5px 2px white;
  transition: 0.4s;
}
.input-range[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 10px 4px white;
  transition: 0.4s;
}

.input-range[type=range] {
  margin-top: 4vh;
}
