@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.container {
  font-family: sans-serif;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(-135deg, #000428, #004e92);
  font-family: 'Kdam Thmor Pro', sans-serif;
}
